NET "inputsToCircuit<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<6>" LOC = P84 | IOSTANDARD = LVTTL;
NET "inputsToCircuit<7>" LOC = P87 | IOSTANDARD = LVTTL;

NET "p1Ready" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "p2Ready" LOC = P124 | IOSTANDARD = LVTTL | PULLUP;

NET "levelButton" LOC = P121 | IOSTANDARD = LVTTL | PULLUP;

NET "p1ButtonInput<0>" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "p1ButtonInput<1>" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "p1ButtonInput<2>" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "p1ButtonInput<3>" LOC = P30 | IOSTANDARD = LVTTL | PULLUP;

NET "p2ButtonInput<0>" LOC = P127 | IOSTANDARD = LVTTL | PULLUP;
NET "p2ButtonInput<1>" LOC = P132 | IOSTANDARD = LVTTL | PULLUP;
NET "p2ButtonInput<2>" LOC = P134 | IOSTANDARD = LVTTL | PULLUP;
NET "p2ButtonInput<3>" LOC = P138 | IOSTANDARD = LVTTL | PULLUP;

NET "segmentPins<0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "segmentPins<1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "segmentPins<2>" LOC = P75 | IOSTANDARD = LVTTL;
NET "segmentPins<3>" LOC = P79 | IOSTANDARD = LVTTL;
NET "segmentPins<4>" LOC = P81 | IOSTANDARD = LVTTL;
NET "segmentPins<5>" LOC = P83 | IOSTANDARD = LVTTL;
NET "segmentPins<6>" LOC = P85 | IOSTANDARD = LVTTL;

NET "digitPins<0>" LOC = P88 | IOSTANDARD = LVTTL;
NET "digitPins<1>" LOC = P93 | IOSTANDARD = LVTTL;
NET "digitPins<2>" LOC = P95 | IOSTANDARD = LVTTL;
NET "digitPins<3>" LOC = P98 | IOSTANDARD = LVTTL;